<div class="container">

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <%= react_component 'MovieSearch' %>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <%= react_component 'MovieDisplay' %>
    </div>
  </div>